@using TimeTrackerServer.Models

@{
    ViewBag.Title = "Submit";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Project</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Submit</span>
        </li>
    </ul>
</div>

<div class="row">
    @ViewBag.ProjectName
</div>
