@using TimeTrackerServer.Models

@{
    ViewBag.Title = "Submit";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Project</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Submit</span>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <br />
            <div class="portlet-body">
                @ViewBag.ProjectName
            </div>
        </div>
    </div>
</div>
