
@{
    ViewBag.Title = "Submit";
}

<h2>Submit</h2>

<div class="portlet-body">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-xs-6">
            <div class="mt-element-ribbon bg-grey-steel">
                <div class="ribbon ribbon-color-default uppercase">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <div class="mt-element-ribbon bg-grey-steel">
                <div class="ribbon ribbon-color-primary uppercase">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <div class="mt-element-ribbon bg-grey-steel">
                <div class="ribbon ribbon-color-info uppercase">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <div class="mt-element-ribbon bg-grey-steel">
                <div class="ribbon ribbon-color-success uppercase">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <div class="mt-element-ribbon bg-grey-steel">
                <div class="ribbon ribbon-color-danger uppercase ">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <div class="mt-element-ribbon bg-grey-steel">
                <div class="ribbon ribbon-color-warning uppercase ">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2 col-md-4 col-xs-6">
            <div class="mt-element-ribbon bg-grey-steel">
                <div class="ribbon ribbon-color-default uppercase">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <div class="mt-element-ribbon bg-grey-steel">
                <div class="ribbon ribbon-color-primary uppercase">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <div class="mt-element-ribbon bg-grey-steel">
                <div class="ribbon ribbon-color-info uppercase">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <div class="mt-element-ribbon bg-grey-steel">
                <div class="ribbon ribbon-color-success uppercase">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <div class="mt-element-ribbon bg-grey-steel">
                <div class="ribbon ribbon-color-danger uppercase ">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
            <div class="mt-element-ribbon bg-grey-steel">
                <div class="ribbon ribbon-color-warning uppercase ">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
    </div>
</div>
